@font-face {
    font-family: 'mine';
    src: url('Minecraft.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

a{
    color: white;
}

body{   
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'mine';
    
}


.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}


.logo{
    height: 200px;
    
}

.botao{
    background-image: url('img/buttom\ texture.JPG');
    background-size: contain;
    height: 40px;
    width: 350px;
    color: white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    margin-top: 50px;
    text-shadow: 0.1em 0.1em 0.05em #333;
    padding: 0px;
}
      
     